GDE_IP=192.168.1.100
GDE_PORT=1001
GDE_ADDRESS=254

# PostgreSQL
PG_HOST=192.168.1.20
PG_PORT=5432
PG_DATABASE=gde
PG_USER=gde_app
PG_PASSWORD=gde_secure_2026

# PostgreSQL Master (para setup)
PG_MASTER_USER=postgres
PG_MASTER_PASSWORD=postgres_pass
